## Pandas: A ferramenta definitiva do Analista de Dados
Entender as 2 estruturas de dados do Pandas: **Series e DataFrame**.

In [2]:
import pandas as pd
import numpy as np # É uma boa prática importar o numpy também, pois eles trabalham juntos.

In [3]:
# Uma Series de notas de alunos
notas = pd.Series([8.5, 9.0, 7.5, 10.0])
print(notas)

0     8.5
1     9.0
2     7.5
3    10.0
dtype: float64

In [5]:
# Usando o nome dos alunos como índice
notas_com_nome = pd.Series([8.5, 9.0, 7.5, 10.0], index=['Ana','Beto', 'Carlos', 'Eduardo'])
print(notas_com_nome)

Ana         8.5
Beto        9.0
Carlos      7.5
Eduardo    10.0
dtype: float64

In [10]:
# Acessando dados pelo índice:
print("Nota do Eduardo:", notas_com_nome['Eduardo'])

Nota do Eduardo: 10.0

## A Estrela Principal: O **DataFrame**
Uma estrutura de dados tabular, com duas dimensões(linhas e colunas), onde cada coluna pode ter um tipo diferente.

In [13]:
## Criando um DataFrame a partir de um dicionário
dados_alunos = {
    'Nome': ['Ana', 'Beto', 'Carlos', 'Eduardo'], 
    'Idade': [21, 22, 21, 31],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Brasília']
}

# Criando o DataFrame
df_alunos = pd.DataFrame(dados_alunos)

# A mágica do Jupyter: ele exibe o DataFrame como uma tabela bonita
df_alunos

      Nome  Idade          Cidade
0      Ana     21       São Paulo
1     Beto     22  Rio de Janeiro
2   Carlos     21  Belo Horizonte
3  Eduardo     31        Brasília

In [15]:
df_titanic = pd.read_csv('Titanic-Dataset.csv')